:root {
  --font-family-main: 'Exo', 'Times New Roman', serif;
  --font-family-topic: 'Oswald', 'Times New Roman', serif;

  /*colors*/
  --main-color: #36045c;
  --text-color: #f8f4fb;
  --touch-color: #020336;
  --gray-color: #272b30;
  /*size*/
  --header-height: 55px;
}
