.GameDetail {
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
}
.ImgWrapper {
    height: 300px;
}
.Top {
    display: flex;
    gap: 30px;
    @media (max-width: 650px) {
        flex-direction: column;
    }
}
.Bottom {
    display: flex;
    /*width: 300px;*/
    margin-top: 20px;
    gap: 20px;
    /*@media (max-width: 800px) {*/
    /*grid-template-columns: 1fr;*/
    /*}*/
}
.Thumbnail {
    height: 100%;
    max-width: 400px;
    width: 100%;
    object-fit: cover;
    @media (max-width: 650px) {
        max-width: 100%;
        width: 100%;
    }
}
.Description {
    /*flex: 0 0 48%;*/
}
.Screenshot {
    /*flex: 0 0 48%;*/
}
.SubTitle {
    font-size: 18px;
    margin-bottom: 15px;
}
.DescriptionText {

}

.img {
    height: 100%;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}
.ScreenshotWrapper {
    max-width: 500px;
    width: 80%;
}
.TestWrapper {
    max-width: 500px;
}
.Test {
    width: 100%;
    max-width: 500px;
}